<section id="aboutme">
    <div class="fade-left">
        <div class="buttons_atf">
            <div><img src="../../assets/purpleline.png" alt=""></div>
            <div><img class="hover_image" src="../../assets/github.png" alt=""></div>
            <div><img class="hover_image" src="../../assets/linkedin.png" alt=""></div>
            <div><img class="hover_image" src="../../assets/email.png" alt=""></div>
            <div class="email_text">alkan.tetik.at&#64;gmail.com</div>
        </div>
        <div>
            <h1>About me</h1>
        </div>
        <div class="info_title">
            Hi, I'm Alkan, 21 years old and a German-, Turkish and English-speaking frontend developer from Vienna.
            Motivated by
            the limitless possibilities in IT, I am passionate about creating visually appealing and intuitive websites
            and applications.
        </div>
        <div class="info_content">
            <div><img src="../../assets/location.png" alt="">
                I am flexible in terms of my working environment, so I can work <br>effectively both on site in the
                office
                in VIenna and remotely.
            </div>
            <div><img src="../../assets/bulb.png" alt="">
                I am open to new tasks and am always looking for new challenges<br>
                to consolidate and constantly expand my knowledge and skills.</div>
            <div><img src="../../assets/puzzle.png" alt="">
                In my job, programming isn't just about writing code; it's a
                creative form of problem solving.<br> I pride myself on my ability to distill complex technical
                challenges
                into simple, user-friendly solutions.<br> In this way, I help you achieve your goals and bring your
                visions
                to life.
            </div>
        </div>
    </div>
    <div class="fade-right" style="z-index: 1;">
        <div class="img_abMe">
            <img class="greenellipse" src="../../assets/greenellipse.png" alt="">
            <img class="greenline" src="../../assets/greenline.png" alt="">
            <img class="faceself" src="../../assets/faceself.png" alt="">
        </div>
    </div>
    <div class="purpleshadow"><img src="../../assets/purpleshadow.png" alt=""></div>
</section>