<section>
    <div class="greenline"></div>

    <div class="footer-container">
        <div class="footer-header">
            <div style="font-size: 50px; font-weight: 700;">Alkan</div>
            <a href="#">Legal Notice</a>
        </div>
        <div style="font-size: 23px;">© Alkan Tetik 2025</div>
        <div class="footer-images">
            <div><img class="hover_image" src="../../assets/github.png" alt=""></div>
            <div><img class="hover_image" src="../../assets/linkedin.png" alt=""></div>
            <div><img class="hover_image" src="../../assets/email.png" alt=""></div>
        </div>
    </div>
</section>