<section>
    <div class="greenline"></div>

    <div class="footer-container">
        <div class="footer-header">
            <div class="name">Alkan</div>
            <a class="firstNotice" href="#">Legal Notice</a>
        </div>
        <div class="name-year">© Alkan Tetik 2025</div>
        <div class="footer-images">
            <a href="https://github.com/AlkanTetik/Portfolio" target="_blank"><img class="hover_image"
                    src="../../assets/github.png" alt=""></a>
            <a href="https://www.linkedin.com/in/alkan-tetik-1066342b9" target="_blank"><img class="hover_image"
                    src="../../assets/linkedin.png" alt=""></a>
            <a href="www.alkan.tetik.at@gmail.com" target="_blank"><img class="hover_image" src="../../assets/email.png"
                    alt=""></a>
        </div>
        <a class="responsiveNotice" href="#">Legal Notice</a>
    </div>
</section>