:host {
  position: static;   /* Standard, kann auch ganz weg */
  display: block;     /* sorgt dafür, dass dein Component-Root Platz im Layout einnimmt */
}

section {
    height: auto;
    width: 100%;
    background-color: #141D2F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 200px;
    padding-bottom: 200px;

    >div {
         z-index: 1;
        >div {
            >h1 {
                z-index: 5;
                color: rgb(255, 255, 255);
                font-size: 90px;
                font-weight: 700;
                padding-left: 100px;
            }
        }
    }
}

.info_title {
    color: white;
    padding-left: 100px;
    display: flex;
    padding-top: 20px;
}

.info_content {
    color: white;
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    >div {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.img_abMe {
    display: flex;
    align-items: center;
}