:host {
    position: static;
    display: block;
}

section {
    height: auto;
    width: 100%;
    background-color: #141D2F;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 10px;
    padding-top: 150px;
    padding-bottom: 200px;
    color: white;


    >div {
        z-index: 1;

        >div {
            >h1 {
                z-index: 5;
                color: rgb(255, 255, 255);
                font-size: 90px;
                font-weight: 700;
                padding-left: 100px;
            }
        }
    }
}

.info_title {
    color: white;
    padding-left: 100px;
    display: flex;
    padding-top: 20px;
}

.info_content {
    color: white;
    padding-left: 100px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    >div {
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
}

.img_abMe {
    display: flex;
    align-items: center;
    padding-top: 20px;

    >.faceself {
        height: 650px;
        position: absolute;
        right: 340px;
    }
}

.buttons_atf {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    gap: 20px;
}

.hover_image {
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.email_text {
    cursor: pointer;
}

@media (max-width: 1350px) {
    section {
        >div {
            >div {
                >h1 {
                    font-size: 70px;
                }
            }
        }
    }

    .img_abMe {
        display: flex;
        align-items: center;
        padding-top: 70px;

        >.faceself {
            height: 500px;
            position: absolute;
            right: 205px;
        }

        >.greenellipse {
            width: 350px;
        }

        >.greenline {
            width: 150px;
            height: 4px;
        }
    }
}

@media (max-width: 1080px) {
    section {
        justify-content: center;

        // >div {
        //     padding-left: 20px;

        >h1 {
            font-size: 70px;
            padding-left: 0;

        }
    }

    .img_abMe {
        display: none;
    }

    section>div>div>h1 {
        padding-left: 20px;
    }

    .info_title {
        padding-left: 20px;
    }

    .info_content {
        padding-left: 20px;
    }
}

@media (max-width: 550px) {
    section {
        font-size: 14px;
        padding-top: 100px;
        padding-bottom: 150px;

        >div {

            >div {
                >h1 {
                    font-size: 50px;
                }
            }
        }
    }

    .email_text {
        display: none;
    }
}

@media (max-width: 400px) {
    section {
        font-size: 11px;

        >div {

            >div {
                >h1 {
                    font-size: 40px;
                }
            }
        }
    }
}