:host {
    position: static;
    display: block;
}

section {
    height: auto;
    width: 100%;
    background-color: #141D2F;
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 200px;
    color: white;
    z-index: 2;
    margin: 0 auto;
}

h1 {
    z-index: 5;
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-weight: 700;
    padding-left: 0px;
}

.content-wrapper {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    z-index: 2;
}

#aboutme {
    scroll-margin-top: 120px; // Adjust this to your header height
}

.fade-left {
    opacity: 0;
    transform: translateX(-80px);
    transition: all 0.8s ease-out;
}

.fade-right {
    opacity: 0;
    transform: translateX(80px);
    transition: all 0.8s ease-out;
}

.in-view {
    opacity: 1;
    transform: translateX(0);
}


.info_title {
    color: white;
    padding-left: 0px;
    display: flex;
    padding-top: 20px;
    padding-right: 20px;
}

.info_content {
    color: white;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    >div {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.purpleshadow {
    position: absolute;
    top: 0;
    right: -500px;
    z-index: -1;
}

.img_abMe {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 150px;

    .image-circle {
        width: 450px;
        height: 450px;
        border: 4px solid #a0ff47;
        border-radius: 50%;
        overflow: hidden;
        z-index: 1;
    }

    .greenline {
        position: absolute;
        left: calc(100% + 0px);
        transform: translateY(-50%);
        width: 100vw;
        height: 3px;
        background-color: #a0ff47; // nur falls du kein <img> nutzt
        z-index: 0;
    }

    .secondgreenline {
        transform: translateY(-50%);
        width: 0;
        height: 3px;
        background-color: #a0ff47; // nur falls du kein <img> nutzt
        z-index: 0;
    }
}

.image-circle {
    border: 3px solid #a0ff47;
    border-radius: 50%;
    overflow: hidden;
    width: 450px;
    height: 450px;
    margin-left: 2rem;
    z-index: 1;
}

.image-circle img {
    width: 100%;
    object-fit: cover;
}

.buttons_atf {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;

    .purpleline {
        width: 100vw;
        position: absolute;
        height: 3px;
        background-color: #A259FF;
        right: calc(100% + 0px);
        transform: translateY(-50%);
    }

    .secondpurpleline {
        width: 0;
        right: calc(100% + 20px);
        background-color: #A259FF;
        transform: translateY(-50%);
        height: 3px;
    }
}

.hover_image {
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.email_text {
    cursor: pointer;
}

@media (max-width: 1930px) {
    .buttons_atf {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 100px;

        .secondpurpleline {
            width: 80px;
        }
    }

    h1 {
        z-index: 5;
        color: rgb(255, 255, 255);
        font-size: 90px;
        font-weight: 700;
        padding-left: 100px;
    }

    .info_title {
        padding-left: 100px;
    }

    .info_content {
        padding-left: 100px;
    }

    .img_abMe {
        >.secondgreenline {
            width: 150px;
        }
    }
}

@media (max-width: 1350px) {
    h1 {
        font-size: 70px;
    }

    .img_abMe {
        display: flex;
        align-items: center;
        padding-top: 220px;

        >.faceself {
            height: 500px;
            position: absolute;
            right: 205px;
        }

        >.greenellipse {
            width: 350px;
        }

        >.greenline {
            width: 150px;
            height: 4px;
        }
    }
}

@media (max-width: 1280px) {
    .img_abMe {
        >.image-circle {
            width: 350px;
            height: 350px;
        }
    }
}

@media (max-width: 1080px) {
    section {
        justify-content: center;
    }

    h1 {
        font-size: 70px;
        padding-left: 20px;
    }

    .img_abMe {
        display: none;
    }

    section>div>div>h1 {
        padding-left: 20px;
    }

    .info_title {
        padding-left: 20px;
    }

    .info_content {
        padding-left: 20px;
    }
}

@media (max-width: 550px) {
    section {
        font-size: 16px;
        padding-top: 0;
        padding-bottom: 150px;
    }

    h1 {
        font-size: 50px;
    }

    .email_text {
        display: none;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 40px;
    }
}