<section id="aboutme">
  <div class="fade-left">
    <div class="buttons_atf">
      <div><img src="../../assets/purpleline.png" alt=""></div>
      <a href="https://github.com/AlkanTetik/Portfolio" target="_blank"><img class="hover_image"
          src="../../assets/github.png" alt=""></a>
      <a href="https://www.linkedin.com/in/alkan-tetik-1066342b9" target="_blank"><img class="hover_image"
          src="../../assets/linkedin.png" alt=""></a>
      <a href="mailto:www.alkan.tetik.at@gmail.com" target="_blank"><img class="hover_image" src="../../assets/email.png"
          alt=""></a>
      <div class="email_text">alkan.tetik.at&#64;gmail.com</div>
    </div>

    <div>
      <h1>{{ 'ABOUT.TITLE' | translate }}</h1>
    </div>

    <div class="info_title">
      {{ 'ABOUT.INTRO' | translate }}
    </div>

    <div class="info_content">
      <div>
        <img src="../../assets/location.png" alt="">
        {{ 'ABOUT.LOCATION' | translate }}
      </div>
      <div>
        <img src="../../assets/bulb.png" alt="">
        {{ 'ABOUT.MOTIVATION' | translate }}
      </div>
      <div>
        <img src="../../assets/puzzle.png" alt="">
        {{ 'ABOUT.CREATIVE' | translate }}
      </div>
    </div>
  </div>

  <div class="fade-right" style="z-index: 1;">
    <div class="img_abMe">
      <div class="image-circle">
        <img class="faceself" src="../../assets/faceself.png" alt="">
      </div>
      <img class="greenline" src="../../assets/greenline.png" alt="">
    </div>
  </div>

  <div class="purpleshadow"><img src="../../assets/purpleshadow.png" alt=""></div>
</section>