<section id="aboutme">
  <div class="content-wrapper">
    <div class="fade-left">

      <div>
        <h1>{{ 'ABOUT.TITLE' | translate }}</h1>
      </div>

      <div class="info_title">
        {{ 'ABOUT.INTRO' | translate }}
      </div>

      <div class="info_content">
        <div>
          <img src="../../assets/location.png" alt="">
          {{ 'ABOUT.LOCATION' | translate }}
        </div>
        <div>
          <img src="../../assets/bulb.png" alt="">
          {{ 'ABOUT.MOTIVATION' | translate }}
        </div>
        <div>
          <img src="../../assets/puzzle.png" alt="">
          {{ 'ABOUT.CREATIVE' | translate }}
        </div>
      </div>
    </div>
  <div class="purpleshadow">
    <img src="../../assets/purpleshadow.png" alt="">
  </div>

    <div class="fade-right" style="z-index: 1;">
      <div class="img_abMe">
        <div class="image-circle">
          <img class="faceself" src="../../assets/faceself.png" alt="">
        </div>
        <div class="secondgreenline"></div>
        <div class="greenline"></div>
      </div>
    </div>
  </div>
</section>
