<section id="aboutme">
    <div>
        <div>
            <h1>About me</h1>
        </div>
        <div class="info_title">
            Write some information about yourself that is IT related. <br> Why are you passionate about coding?<br> What
            is your
            source of inspiration for improving your programming skills?
        </div>
        <div class="info_content">
            <div><img src="../../assets/location.png" alt="">Where are you located? Are you open to different ways of
                working, <br>such as working remotely or even relocating?

            </div>
            <div><img src="../../assets/bulb.png" alt="">Show that you are open-minded. Are you enthusiastic about
                learning new technologies and <br> continually improving your skills?</div>
            <div><img src="../../assets/puzzle.png" alt="">A brief description of your problem-solving approach. <br>Do you
                learn from each challenge as you search for the most efficient or elegant solution? <br> You can include some
                keywords like: analytical thinking, creativity, persistence and collaboration.

            </div>
        </div>
    </div>
    <div style="z-index: 1;">
        <div class="img_abMe">
            <img src="../../assets/greenellipse.png" alt="">
            <img src="../../assets/greenline.png" alt="">
             <img style="height: 650px; position: absolute; right: 340px;" src="../../assets/faceself.png" alt="">
        </div>
    </div>
</section>