section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141D2F;
    padding: 30px 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar {
    display: flex;
    gap: 20px;
    color: white;

    >div {
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 23px;

        >div {
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover {
                color: #70E61C;
            }
        }
    }

    >.navbar_translation {
        margin-left: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        >.de_translate {
            cursor: pointer;
            padding: 5px 8px;
            color: white;
            border: 1px solid #70E61C;
            border-radius: 10px;
            background-color: transparent;
            font-size: 18px;

            &:hover {
                background-color: rgb(140, 0, 255);
                border-color: rgb(140, 0, 255);
            }
        }

        >.en_translate {
            cursor: pointer;
            padding: 5px 8px;
            color: white;
            border: none;
            border-radius: 10px;
            background-color: #70E61C;
            font-size: 18px;
            font-weight: bold;
        }
    }
}

.nav_name {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    display: flex;
    gap: 2px;
}