<section class="navbar-section">
  <div class="nav_name">
    <p>A</p><p>l</p><p>k</p><p>a</p><p style="color: #9747FF;">n</p><br>
    <p style="padding-left: 10px;">T</p><p>e</p><p>t</p><p>i</p><p style="color: #70E61C;">k</p>
  </div>

  <!-- Burger Button -->
  <button class="menu-toggle" (click)="toggleMenu()"><img src="../../assets/burgermenu.png" alt=""></button>

  <!-- Navigation + Übersetzung -->
  <div class="navbar" [class.open]="isMenuOpen">
    <div>
      <a href="#aboutme" (click)="closeMenu()">About me</a>
      <a href="#skills" (click)="closeMenu()">Skills</a>
      <a href="#portfolio" (click)="closeMenu()">Portfolio</a>
      <a href="#contact" class="nav_contact" (click)="closeMenu()">Contact</a>
    </div>
    <div class="navbar_translation">
      <button class="de_translate">DE</button>
      <button class="en_translate">EN</button>
    </div>
  </div>
</section>
