<section>
    <div class="name_picture">
        <img class="img-bottom" src="../../assets/self.png" alt="Bild">
        <img class="img-top" src="../../assets/image.png" alt="">
    </div>
    <img class="background_atf" src="../../assets/background_atf.png" alt="">
    <div class="name_content">
        <div>
            <div class="name_atf">
                <div class="name_iam">I am </div>
                <div class="name_whoWhat">
                    <div class="name">Alkan Tetik</div>
                    <div class="frontendDev">FRONTEND DEVELOPER</div>
                </div>
            </div>
        </div>
        <a href="#contact">
            Let's talk!
        </a>
    </div>
    <div class="scroll_down_container">
        <!-- <div class="buttons_atf">
            <div><img src="../../assets/purpleline.png" alt=""></div>
            <div><img class="hover_image" src="../../assets/github.png" alt=""></div>
            <div><img class="hover_image" src="../../assets/linkedin.png" alt=""></div>
            <div><img class="hover_image" src="../../assets/email.png" alt=""></div>
            <div class="email_text">alkan.tetik.at&#64;gmail.com</div>
        </div> -->
        <div class="purpleshadow"><img src="../../assets/purpleshadow.png" alt=""></div>
        <div class='scroll_down_text'>Scroll down <img style="transform: rotate(270deg); z-index: 1;"
                src="../../assets/Vector.png" alt=""></div>
    </div>
</section>