<section class="section">
    <div class="name_picture fade-left">
        <img class="img-bottom" src="../../assets/self.png" alt="Bild">
        <img class="img-top" src="../../assets/image.png" alt="">
    </div>

    <img class="background_atf" src="../../assets/background_atf.png" alt="">

    <div class="name_content fade-left">
        <div>
            <div class="name_atf">
                <div class="name_iam">{{ 'ABOVE.I_AM' | translate }}</div>
                <div class="name_texts">
                    <div class="name">{{ 'ABOVE.NAME' | translate }}</div>
                    <div class="frontendDev">{{ 'ABOVE.ROLE' | translate }}</div>
                </div>
            </div>
        </div>
        <a href="#contact">
            {{ 'ABOVE.CTA' | translate }}
        </a>
    </div>

    <div class="scroll_down_container">
        <div class='scroll_down_text'>
            {{ 'ABOVE.SCROLL' | translate }}
            <img style="transform: rotate(270deg); z-index: 1;" src="../../assets/Vector.png" alt="">
        </div>
    </div>
</section>