:host {
    position: static;
    /* Standard, kann auch ganz weg */
    display: block;
    /* sorgt dafür, dass dein Component-Root Platz im Layout einnimmt */
}


section {
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: center;
    background-color: #141D2F;
    color: white;
}

.name_picture {
    position: relative;
    width: 400px;
    height: 600px;
}

.img-bottom {
    position: absolute;
    top: -150px;
    left: 100px;
    width: 450px;
}

.img-top {
    position: relative;
    top: 0;
    left: 0;
    width: 700px;
    height: 700px;
    z-index: 2;
}

.img-bottom {
    z-index: 3;
    border-radius: 50px;
}

.name_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;

    >a {
        cursor: pointer;
        padding: 15px 30px;
        margin-top: 20px;
        border-radius: 10px;
        background-color: #70E61C;
        color: white;
        font-size: 22px;
        border: none;
        transition: 0.1s ease-in-out;
        text-decoration: none;
        z-index: 1;

        &:hover {
            background-color: #9747FF;
            border-color: #9747FF;
            transform: scale(1.15);
        }
    }
}

.name_atf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name_whoWhat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 120%;
}

.name_iam {
    transform: rotate(-90deg);
    line-height: 120%;
    font-size: 64px;
    letter-spacing: 0%;
    width: 152px;
    height: 63px;
    padding-left: 20px;
}

.background_atf {
    height: 600px;
    width: 100%;
    position: absolute;
    top: 550px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.scroll_down_text {
    transform: rotate(90deg);
    z-index: 1;
    position: absolute;
    right: 100px;
    top: 900px;
    font-size: 25px;
}

.buttons_atf {
    position: absolute;
    top: 1000px;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    gap: 20px;
}

.hover_image {
    transition: 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }
}

.email_text {
    cursor: pointer;
}

.purpleshadow {
    position: absolute;
    top: 850px;
    right: 0;
    z-index: 1;
}