<section class="section">
    <div class="name_picture fade-left">
        <img class="img-bottom" src="../../assets/self.png" alt="Bild">
        <img class="img-top" src="../../assets/image.png" alt="">
    </div>

    <img class="background_atf" src="../../assets/background_atf.png" alt="">

    <div class="name_content fade-left">
        <div>
            <div class="name_atf">
                <div class="name_iam">{{ 'ABOVE.I_AM' | translate }}</div>
                <div class="name_texts">
                    <div class="name">{{ 'ABOVE.NAME' | translate }}</div>
                    <div class="frontendDev">{{ 'ABOVE.ROLE' | translate }}</div>
                </div>
            </div>
        </div>
        <a href="#contact">
            {{ 'ABOVE.CTA' | translate }}
        </a>
    </div>

    <div class="scrollandbuttons">
        <div class="scroll_down_container">
            <a href="#aboutme" class='scroll_down_text'>
                {{ 'ABOVE.SCROLL' | translate }}
                <img style="transform: rotate(270deg); z-index: 1; padding-right: 4px;" src="../../assets/Vector.png" alt="">
            </a>
        </div>

        <div class="buttons_atf">
            <div class="secondpurpleline"></div>
            <div class="purpleline"></div>
            <a href="https://github.com/AlkanTetik" target="_blank">
                <img class="hover_image" src="../../assets/github.png" alt="">
            </a>
            <a href="https://www.linkedin.com/in/alkan-tetik-1066342b9" target="_blank">
                <img class="hover_image" src="../../assets/linkedin.png" alt="">
            </a>
            <a href="mailto:alkan.tetik.at@gmail.com" target="_blank">
                <img class="hover_image" src="../../assets/email.png" alt="">
            </a>
            <div class="email_text">alkan.tetik.at&#64;gmail.com</div>
        </div>
    </div>
</section>