<section class="container" id="contact">
    <div class="contact-header">
        <div class="contact-line"></div>
        <div class="second-contact-line"></div>
        <h1>{{ 'CONTACT.TITLE' | translate }}</h1>
    </div>

    <div class="contact-form">
        <div class="fade-up">
            <h2>{{ 'CONTACT.QUESTION' | translate }}</h2>
            <div [innerHTML]="'CONTACT.DESCRIPTION' | translate"></div><br />
            <div><b>{{ 'CONTACT.CALL' | translate }}</b></div>
        </div>

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="fade-down">

            <div class="name-input">
                <input [(ngModel)]="contactData.name" name="name" type="text" required #name="ngModel"
                    [ngClass]="{ 'invalid-input': name.invalid && name.touched }"
                    placeholder="{{ 'CONTACT.PLACEHOLDER_NAME' | translate }}" />
                <p *ngIf="name.invalid && name.touched" class="error">
                    {{ 'CONTACT.INVALID.NAME' | translate }}
                </p>
            </div>

            <div class="email-input">
                <input [(ngModel)]="contactData.email" name="email" type="text" required
                    pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" #email="ngModel"
                    [ngClass]="{ 'invalid-input': email.invalid && email.touched }"
                    placeholder="{{ 'CONTACT.PLACEHOLDER_EMAIL' | translate }}" />
                <div *ngIf="email.invalid && email.touched" class="error">
                    <p *ngIf="email.errors?.['required']">{{ 'CONTACT.INVALID.EMAIL' | translate }}</p>
                    <p *ngIf="email.errors?.['pattern']">{{ 'CONTACT.TOUCHED.EMAIL' | translate }}</p>
                </div>
            </div>

            <div>
                <textarea [(ngModel)]="contactData.message" name="message" required #message="ngModel"
                    [ngClass]="{ 'invalid-input': message.invalid && message.touched }"
                    placeholder="{{ 'CONTACT.PLACEHOLDER_MESSAGE' | translate }}" style="height: 200px">
            </textarea>
                <p *ngIf="message.invalid && message.touched" class="error">
                    {{ 'CONTACT.INVALID.MESSAGE' | translate }}
                </p>
            </div>

            <label class="labelprivacy">
                <input type="checkbox" name="privacy" ngModel required
                    style="margin-right: 0.5rem; background-color: transparent; cursor: pointer;" />
                <div class="privacypolicy">
                    {{ 'CONTACT.PRIVACY_TEXT' | translate }}
                    <a routerLink="['/privacypolicy']" (click)="openLinkInNewTab($event, ['/privacypolicy'])" href="#"
                        style="text-decoration: none; color: #9747FF;">
                        {{ 'CONTACT.PRIVACY_LINK' | translate }}
                    </a>
                    {{ 'CONTACT.PRIVACY_REST' | translate }}
                </div>
            </label>

            <button type="submit" [disabled]="!contactForm.valid">{{ 'CONTACT.BUTTON'
                | translate }}</button>
            <p *ngIf="feedbackMessage" [ngClass]="feedbackClass" class="feedback-text">
                 {{ feedbackMessage | translate }}
            </p>
        </form>
        <img class="contactshadow" src="../../assets/contactshadow.png" alt="" />
    </div>

    <a class="fade-up" href="#header">
        <img class="goupbutton" src="../../assets/goupbutton.png" alt="" />
    </a>
</section>