<section class="container" id="contact">
    <div class="contact-header">
        <div class="contact-line"></div>
        <h1>{{ 'CONTACT.TITLE' | translate }}</h1>
    </div>

    <div class="contact-form">
        <div class="fade-up">
            <h2>{{ 'CONTACT.QUESTION' | translate }}</h2>
            <div [innerHTML]="'CONTACT.DESCRIPTION' | translate"></div><br />
            <div><b>{{ 'CONTACT.CALL' | translate }}</b></div>
        </div>

        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" class="fade-down">

            <input [(ngModel)]="contactData.name" type="text" name="name"
                placeholder="{{ 'CONTACT.PLACEHOLDER_NAME' | translate }}" required />

            <input [(ngModel)]="contactData.email" type="text" name="email"
                placeholder="{{ 'CONTACT.PLACEHOLDER_EMAIL' | translate }}" required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" />

            <textarea [(ngModel)]="contactData.message" name="message"
                placeholder="{{ 'CONTACT.PLACEHOLDER_MESSAGE' | translate }}" style="height:200px" required
                #message="ngModel"></textarea>

            <label class="labelprivacy">
                <input type="checkbox" name="privacy" ngModel required
                    style="margin-right: 0.5rem; background-color: transparent; cursor: pointer;" />
                <div class="privacypolicy">
                    {{ 'CONTACT.PRIVACY_TEXT' | translate }}
                    <a routerLink="['/privacypolicy']" (click)="openLinkInNewTab($event, ['/privacypolicy'])" href="#"
                        style="text-decoration: none; color: #9747FF;">
                        {{ 'CONTACT.PRIVACY_LINK' | translate }}
                    </a>
                    {{ 'CONTACT.PRIVACY_REST' | translate }}
                </div>
            </label>

            <button type="submit" [disabled]="!contactForm.valid">{{ 'CONTACT.BUTTON'
                | translate }}</button>
        </form>
        <img class="contactshadow" src="../../assets/contactshadow.png" alt="" />
    </div>

    <a class="fade-up" href="#header">
        <img class="goupbutton" src="../../assets/goupbutton.png" alt="" />
    </a>
</section>