<section class="portfolio" id="portfolio">
    <div class="header-content">
        <img src="/assets/portfoliosmallline.png" alt="">
        <h1>{{ 'PORTFOLIO.TITLE' | translate }}</h1>
        <img src="/assets/portfoliosmallline.png" alt="">
    </div>
    <span class="subline">
        {{ 'PORTFOLIO.SUBLINE' | translate }}
    </span>
    <div class="projects-grid">
        <img src="../../assets/portfoliopurpleshadow.png" class="purpleshadow" alt="">
        <div class="project-card">
            <img class="opacityImg" src="../../assets/join.png" alt="Join">
            <div class="info opacityReverseImg">
                <h3>{{ 'PORTFOLIO.JOIN.TITLE' | translate }}</h3>
                <p class="tech">{{ 'PORTFOLIO.JOIN.TECH' | translate }}</p>
                <p>{{ 'PORTFOLIO.JOIN.DESCRIPTION' | translate }}</p>
                <div class="buttons">
                    <a class="testButton" href="https://join-409.developerakademie.net/Join/index.html" target="_blank">{{ 'PORTFOLIO.BUTTONS.LIVE' | translate }}</a>
                    <a class="gitButton" href="https://github.com/grichie7000/Join" target="_blank">{{ 'PORTFOLIO.BUTTONS.GITHUB' | translate }}</a>
                </div>
            </div>
        </div>

        <div class="project-card reverse">
            <div class="opacityReverseImg" style="position: relative;">
                <img src="../../assets/elpolloloco.png" style="z-index: 4;" alt="El Pollo Loco">
                <img src="../../assets/mobileshadowportfolio.png" class="mobilePurpleshadow" alt="">
            </div>
            <div class="info project-el-pollo opacityImg">
                <h3>{{ 'PORTFOLIO.POLLO.TITLE' | translate }}</h3>
                <p class="tech">{{ 'PORTFOLIO.POLLO.TECH' | translate }}</p>
                <p>{{ 'PORTFOLIO.POLLO.DESCRIPTION' | translate }}</p>
                <div class="elpButtons">
                    <a class="testButton" href="https://alkan-tetik.developerakademie.net/Projekt_El-Pollo-Loco/index.html" target="_blank">{{ 'PORTFOLIO.BUTTONS.LIVE' | translate }}</a>
                    <a class="gitButton" href="https://github.com/AlkanTetik/El-Pollo-Loco" target="_blank">{{ 'PORTFOLIO.BUTTONS.GITHUB' | translate }}</a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <img class="opacityImg" src="../../assets/pokedex.png" alt="Pokedex">
            <div class="info opacityReverseImg">
                <h3>{{ 'PORTFOLIO.POKEDEX.TITLE' | translate }}</h3>
                <p class="tech">{{ 'PORTFOLIO.POKEDEX.TECH' | translate }}</p>
                <p>{{ 'PORTFOLIO.POKEDEX.DESCRIPTION' | translate }}</p>
                <div class="buttons">
                    <a class="testButton" href="https://alkan-tetik.developerakademie.net/Projekt-Pokedex/index.html" target="_blank">{{ 'PORTFOLIO.BUTTONS.LIVE' | translate }}</a>
                    <a class="gitButton" href="https://github.com/AlkanTetik/Pokedex.git" target="_blank">{{ 'PORTFOLIO.BUTTONS.GITHUB' | translate }}</a>
                </div>
            </div>
        </div>
    </div>
</section>
