section {
    height: 800px;
    background-color: #141D2F;

    >div {
        display: flex;
        justify-content: center ;
        align-items: center;
        padding-top: 100px;
        gap: 40px;
        >h1 {
            display: flex;
        justify-content: center ;
        align-items: center;
            color: white;
            font-size: 90px;
        }
    }
    >span {
       display: flex;
       justify-content: center;
       color: white
    }
}