<section>
  <h4>{{ 'IMPRINT.TITLE' | translate }}</h4>
  
  <p><b>{{ 'IMPRINT.LEGAL_INFO' | translate }}</b></p>
  
  <p><b>{{ 'IMPRINT.SITE_OPERATOR' | translate }}:</b> Alkan Tetik</p>
  <p><b>{{ 'IMPRINT.ADDRESS' | translate }}:</b> Am Schöpfwerk, 1120 Wien</p>
  
  <p>
    <b>{{ 'IMPRINT.UID' | translate }}:</b><br>
    <b>{{ 'IMPRINT.TRADE_SUPERVISORY_AUTHORITY' | translate }}:</b><br>
    <b>{{ 'IMPRINT.MEMBERSHIPS' | translate }}:</b>
  </p>
  
  <p>
    <b>{{ 'IMPRINT.CONTACT' | translate }}:</b><br>
    Telefon: 06769691903<br>
    Email: alkan.tetik.at&#64;gmail.com<br>
  </p>
  
  <p>
    <b>{{ 'IMPRINT.APPLICABLE_LAWS' | translate }}:</b> www.ris.bka.gv.at<br>
    <b>{{ 'IMPRINT.PROFESSIONAL_TITLE' | translate }}:</b>
  </p>
  
  <p>
    <b>{{ 'IMPRINT.ONLINE_DISPUTE_RESOLUTION_TITLE' | translate }}:</b> 
    {{ 'IMPRINT.ONLINE_DISPUTE_RESOLUTION_TEXT' | translate }}
  </p>
  
  <p>
    <b>{{ 'IMPRINT.COPYRIGHT_TITLE' | translate }}:</b> 
    {{ 'IMPRINT.COPYRIGHT_TEXT' | translate }}
  </p>
  
  <p>
    <b>{{ 'IMPRINT.LIABILITY_EXCLUSION_TITLE' | translate }}:</b> 
    {{ 'IMPRINT.LIABILITY_EXCLUSION_TEXT' | translate }}
  </p>
  
  <p>
    {{ 'IMPRINT.SOURCE' | translate }}: 
    <b><a href="https://www.fairesrecht.at/kostenlos-impressum-erstellen-generator.php">{{ 'IMPRINT.SOURCE_LINK_TEXT' | translate }}</a></b>
  </p>
</section>
