<section id="skills">
  <div class="skills_title_button_responsive">
    <a class="contactButton" href="#contact">
      {{ 'SKILLS.GET_IN_TOUCH' | translate }}
    </a>
  </div>

  <div class="skills_looking_respponsive">
    <div class="skills_looking">
      {{ 'SKILLS.LOOKING_FOR' | translate }} <span style="color: #9747FF;">{{ 'SKILLS.ANOTHER_SKILL' | translate
        }}</span>?
    </div>
    <div class="skills_title_text_responsive">
      {{ 'SKILLS.ENTHUSIASM_FOR_LEARNING' | translate }}
    </div>
  </div>

  <div class="skills_images">
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 10.png" alt="">
      <p>HTML</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 11.png" alt="">
      <p>CSS</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 6.png" alt="">
      <p>JavaScript</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 12.png" alt="">
      <p>TypeScript</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/15. Icon + Name.png" alt="">
      <p>Angular</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 7.png" alt="">
      <p>Firebase</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 9.png" alt="">
      <p>Git</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 13.png" alt="">
      <p>REST API</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 8.png" alt="">
      <p>Scrum</p>
    </div>
    <div class="img-wrapper">
      <img class="allImages" src="../../assets/Frame 18.png" alt="">
      <p>Material<br> Design</p>
    </div>
    <div class="hover-wrapper">
      <img class="base-image allImages" src="../../assets/16. Interest.png" alt="Interest" />
      <div class="hover-images">
        <img class="badge-image" src="../../assets/reactvue.png" alt="Hover Image 1" />
        <img class="main-hover-image" src="../../assets/togglelearning.png" alt="Hover Image 2" />
      </div>
    </div>
  </div>

  <div class="shadow-left">
    <img class="greenshadow" src="/assets/greenshadow.png" alt="Green shadow">
  </div>

  <div class="skills_title">
    <div class="skills_title_img">
      <h1>{{ 'SKILLS.MY_SKILLS' | translate }}</h1>
      <div class="secondvectorsmall"></div>
      <div class="vectorsmall"></div>
    </div>

    <div class="skills_title_text">
      <div class="skills_title_text_1">
        {{ 'SKILLS.DESCRIPTION' | translate }}
      </div>

      <div class="skills_looking_container">
        <div class="skills_looking">
          {{ 'SKILLS.LOOKING_FOR' | translate }} <span style="color: #9747FF;">{{ 'SKILLS.ANOTHER_SKILL' | translate
            }}</span>?
        </div>
        <div class="skills_looking_text">
          {{ 'SKILLS.CONTACT_ME' | translate }}
        </div>
      </div>

      <div class="skills_title_button">
        <a class="contactButton" href="#contact">
          {{ 'SKILLS.GET_IN_TOUCH' | translate }}
        </a>
      </div>
    </div>
  </div>
</section>