<section>
    <div class="skills_images">
        <img src="../../assets/Frame 10.png" alt="">
        <img src="../../assets/Frame 11.png" alt="">
        <img src="../../assets/Frame 6.png" alt="">
        <img src="../../assets/Frame 12.png" alt="">
        <img src="../../assets/15. Icon + Name.png" alt="">
        <img src="../../assets/Frame 7.png" alt="">
        <img src="../../assets/Frame 9.png" alt="">
        <img src="../../assets/Frame 13.png" alt="">
        <img src="../../assets/Frame 8.png" alt="">
        <img src="../../assets/Frame 18.png" alt="">
        <img src="../../assets/16. Interest.png" alt="">
    </div>
    <div>
        <div class="skills_title">
            <div class="skills_title_img">
                <h1>My skills</h1>
                <img style="position: absolute; right: 0;" src="../../assets/vectorsmall.png" alt="">
            </div>
            <div style="text-align: end;">
                Show that you have used a variety of front-end <br> technologies in your projects.
            </div>
            <div>
                <h2 style="display: flex ;gap: 5px; font-size: 32px;">Looking for <p style="color: #9747FF;">another skill</p>?</h2>
            </div>
            <div style="text-align: end;">
                Reveal enthusiasm for learning new technologies <br> and frameworks.
            </div>
            <div>
                <button>
                    Get in touch
                </button>
            </div>
        </div>
    </div>

</section>