<section>
    <div class="skills_title_button_responsive">
        <a class="contactButton" href="#contact">
            Get in touch
        </a>
    </div>
    <div class="skills_looking_respponsive">
        <div class="skills_looking">
            Looking for <span style="color: #9747FF;">another skill</span> ?
        </div>
        <div class="skills_title_text_responsive">
            Reveal enthusiasm for learning new technologies <br> and frameworks.
        </div>
    </div>
    <div class="skills_images">
        <div><img class="allImages" src="../../assets/Frame 10.png" alt=""></div>
        <div><img class="allImages" src="../../assets/Frame 11.png" alt=""></div>
        <div><img class="allImages" src="../../assets/Frame 6.png" alt=""></div>
        <div><img class="allImages" src="../../assets/Frame 12.png" alt=""></div>
        <div><img class="allImages" src="../../assets/15. Icon + Name.png" alt=""></div>
        <div><img class="allImages" src="../../assets/Frame 7.png" alt=""></div>
        <div><img class="allImages" src="../../assets/Frame 9.png" alt=""></div>
        <div><img class="allImages" src="../../assets/Frame 13.png" alt=""></div>
        <div><img class="allImages" src="../../assets/Frame 8.png" alt=""></div>
        <div><img class="allImages" src="../../assets/Frame 18.png" alt=""></div>
        <div><img class="allImages" src=" ../../assets/16. Interest.png" alt="Default" /></div>
        <!-- <div class="image-switch">
            <img src="../../assets/16. Interest.png" alt="Default" class="default-img" />
            <div>
                <img src="../../assets/togglelearning.png" alt="Hover" class="hover-img" />
                <img style="position: absolute; top: -100px; left: 5px;" src="../../assets/reactvue.png" alt="Hover"
                    class="hover-img" />
            </div>
        </div> -->
    </div>
    <div class="skills_title">
        <div class="skills_title_img">
            <h1>My skills</h1>
            <img class="vectorsmall" src="../../assets/vectorsmall.png" alt="">
        </div>
        <div class="skills_title_text">
            <div class="skills_title_text_1">
                Show that you have used a variety of front-end <br> technologies in your projects.
            </div>
            <div class="skills_looking_container">
                <div class="skills_looking">
                    Looking for <span style="color: #9747FF;">another skill</span> ?
                </div>
                <div class="skills_looking_text">
                    Reveal enthusiasm for learning new technologies <br> and frameworks.
                </div>
            </div>
            <div class="skills_title_button">
                <a class="contactButton" href="#contact">
                    Get in touch
                </a>
            </div>
            <div>
            </div>
        </div>
    </div>
</section>