:host {
  position: static;
  display: block;
}

section {
  color: white;
  height: 550px;
  width: 100%;
  background-color: #141D2F;
  display: flex;
  justify-content: space-between;
}

h1 {
  display: flex;
  justify-content: flex-end;
  font-size: 90px;
  font-weight: 700;
}

@keyframes popUpDown {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.skills_images {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding-left: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 80px;
  z-index: 1;

  >div {
    >.allImages {
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &:hover {
        animation: popUpDown 0.4s ease-in-out;
      }
    }

  }
}

.contactButton {
  cursor: pointer;
  padding: 15px 30px;
  border: none;
  background-color: #70E61C;
  color: white;
  border-radius: 10px;
  font-size: 23px;
  transition: 0.1s ease-in-out;
  transform-origin: right;
  text-decoration: none;

  &:hover {
    background-color: #9747FF;
    transform: scaleX(1.05) scaleY(1.05);
    padding: 18px 35px;
  }
}

.skills_title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
  padding: 0 100px;
}

.skills_title_img {
  display: flex;
  align-items: center;
  gap: 20px;
}

.skills_title_img h1 {
  margin: 0;
  font-size: 90px;
  font-weight: 700;
  color: white;
}

.skills_title_text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.skills_title_text_1 {
  text-align: end;
}

.skills_title_text_responsive {
  text-align: end;
}

.skills_looking_respponsive {
  display: none;
}

.skills_looking_container {
  text-align: end;
}

.skills_looking {
  font-size: 32px;
  font-weight: 700;
}

.skills_title_button {
  margin-top: 50px;
}

.skills_title_button_responsive {
  display: none;
}

.vectorsmall {
  position: absolute;
  right: 0;
}

.image-switch {
  position: relative;
}

.image-switch img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease-in;
}

.hover-img {
  opacity: 0;
}

.image-switch:hover .hover-img {
  opacity: 1;
}

.image-switch:hover .default-img {
  opacity: 0;
}

@media (max-width: 1350px) {
  .skills_title_img h1 {
    font-size: 70px;
  }

  .skills_images {
    grid-template-columns: repeat(3, 1fr);
  }

  .skills_looking {
    font-size: 26px;
    text-align: end;
  }
}

@media (max-width: 1080px) {
  section {
    height: auto;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .skills_images {
    flex-wrap: wrap;
    gap: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px 80px;
    z-index: 1;
  }

  .allImages {
    width: 70px;
  }

  .skills_looking_respponsive {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 40px;
    z-index: 1;
  }

  .skills_looking_container {
    display: none;
  }

  .skills_title_button {
    display: none;
  }

  .skills_title_button_responsive {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .contactButton {
    padding: 10px 20px;
    font-size: 20px;
    transform-origin: center;

    &:hover {
      padding: 12px 24px;
    }
  }

}

@media (max-width: 550px) {
  .skills_title_img h1 {
    font-size: 50px;
    padding-right: 80px;
  }

  .skills_title {
    padding: 0;
  }

  .skills_looking_text {
    font-size: 14px;
  }

  .skills_looking {
    font-size: 20px;
  }

  .skills_title_text_1 {
    font-size: 14px;
    padding-right: 80px;
  }

  .skills_title_text_responsive {
    font-size: 14px;
  }

  .skills_images {
    gap: 0px 30px;
  }

  .vectorsmall {
    width: 40px;
    height: 3px;
  }

  .skills_title_img h1 {
    font-size: 50px;
    padding-right: 50px;
  }

  .skills_title_text_1 {
    font-size: 14px;
    padding-right: 45px;
  }

  .allImages {
    width: 55px;
  }

  .skills_looking_respponsive {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .contactButton {
    padding: 10px 20px;
    font-size: 15px;

    &:hover {
      // transform: scaleX(1.05) scaleY(1.05);
      padding: 12px 24px;
    }
  }
}

@media (max-width: 400px) {
  .skills_title_img h1 {
    font-size: 40px;
    padding-right: 25px;
  }

  .skills_looking_text {
    font-size: 11px;
  }

  .skills_looking {
    font-size: 20px;
  }

  .skills_title_text_1 {
    font-size: 11px;
    padding-right: 25px;
  }

  .skills_title_text_responsive {
    font-size: 11px;
  }

  .skills_images {
    gap: 0px 30px;
  }

  .vectorsmall {
    width: 20px;
    height: 3px;
  }
}